<div class='customer-ticket-content'>
	<h1>Ticket Number</h1>
	<div class="ticket-number-box">
		<%=@visit.id%>
	</div>
	<div class="waiting-time">
		<h3>Waiting Time: </h3>
	</div>
	<%= form_tag({controller: "users", action: "destroy"}, method: "post") do %>
		<input name="_method" type="hidden" value="delete">
		<button>DROP</button>
	<% end %>
</div>