<!DOCTYPE html>
<html>
<body>
	<header>
		<nav></nav>
		<h1><%=@restaurant.name%></h1>
	</header>
	<div id="ticket-order-display">
		<h3><a href="">Ticket</a></h3>
		<h3><a href="">Order</a></h3>
	</div>
	<div>
		<h1>Ticket Number</h1>
	</div>
</body>
</html>