
<div class="pure-u-1">
			<div class="next-button">
				<button id="next"> NEXT </button>
			</div>
		</div>
<div class="restaurant-queue-content">
	<table>
	  <thead>
	    <tr>
	      <th>Ticket</th>
	      <th>Name</th>
	      <th>Orders</th>
	    
	    </tr>
	  </thead>

	  <tbody>
	  	<% @restaurant.users.each do |user| %>
	  	<tr>
	    <td>#000</td>
	    <td><%=user.name%></td>
	    <td><img src=""></td>
		</tr>
		<% end %>
	  </tbody>
</table>
</div>