/*************LOGIN PAGE*****************/


body.login-page{
	background: url(/assets/login_bg.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-wrapper{
	width: 100%;
	text-align: center;
	margin-top: 200px;
	height: 300px;
}

.login-logo{
	background: url(/assets/streamline_logo.png) no-repeat center; 
	background-size: 200px 50px;
	height: 90px;
}

.login-username, .login-password{
	background: url(/assets/blur.png) no-repeat center; 
	background-size: 240px 40px;
	width: 240px;
	height: 37.5px;
	margin: 0 auto;
	line-height: 40px;
	text-align: left;
}

.login-name{
	background: url(/assets/blur.png) no-repeat center; 
	background-size: 240px 40px;
	width: 240px;
	height: 37.5px;
	margin: 0 auto;
	line-height: 40px;
	text-align: left;
	margin-top: 20px;
}
.login-header{
	color:white;
	margin-bottom: 30px;
	font-size: 20px;
	font-weight: lighter;
	font-family: helvetica neue; 
}


.login-username-icon{
	padding-top: 7px;
	background: url(/assets/profile_icon.png) no-repeat center; 
	background-size: 25px 25px;
	height:30px;
	border-right: 1px white solid;
}

.login-name-icon{
	padding-top: 7px;
	background: url(/assets/name.png) no-repeat center; 
	background-size: 25px 25px;
	height:30px;
	border-right: 1px white solid;
}

.login-password-icon{
	padding-top: 7px;
	background: url(/assets/lock_icon.png) no-repeat center; 
	background-size: 25px 25px;
	height:30px;
	margin-left: 0px;
	border-right: 1px white solid;
}

#username, #password,#name, #user_username, #user_password,#user_name{
	background: none;
	height:30px;
	color: white;
	border: none;
	margin-right: 10px;
	padding-left: 10px;
	outline: none;
	font-style: lighter;
}


.login-button{
	background: white;
	width: 240px;
	height: 37.5px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
	line-height: 40px;
	font-family: helvetica neue; 
	font-weight: normal;
}
.login-button input{
	border: none;
	background: none;
	width: 240px;
	font-style: lighter; 
}

.login-password{
	margin-top: 20px;
}

.login-signup{
	color: white;
	font-weight: 200;
	margin-top: 20px;
}

.login-signup a{
	color: #647fab;
}

