

/******************Restaurant Show Page********************/

.nav-bar-container{
	background-color: #cd7971;
	height: 60px;
	text-align: left;
}

.nav-bar-logo{
	background: url(/assets/streamline_logo.png) no-repeat left; 
	background-size: 180px 45px;
	height:60px;
	margin-left: 15px;
}
.nav-bar-option{
	background: url(/assets/menu_icon.png) no-repeat right; 
	background-size: 40px 40px;
	height:60px;
	text-align: right;
	margin-left: 30px;
}
.nav-bar-logout{
	line-height: 60px;
	color: white;
	font-family: helvetica neue;
	font-weight: lighter;
	text-align: right;
	margin-left: 10px;
}

.nav-bar-logout a{
	color:white;
	text-decoration: none;
}


/***************************Banner************************/

.restaurant-banner{
	background: url(/assets/banner.jpg) no-repeat center; 
	height: 100px;
	position: relative;
	color: white;
	text-align: left;
	line-height: 100px;
	font-size: 50px;
	font-weight: lighter;
	font-family: helvetica neue;
	padding-left: 20px;
}

.restaurant-menu-bar{
	margin: 0 auto;
	text-align: center;
	margin-top: 20px;
	width: 90%;
	background-color: white;

}

.restaurant-menu-bar a{
	text-decoration: none;
}


.restaurant-queue,.restaurant-map, .restaurant-menu{

	font-family: helvetica neue;
	font-size: 20px;
	font-weight: lighter;

}

#map a, #menu a{
	color: #C0C0C0  ;
}

#queue a{
	color: #cd7971;
}

.restaurant-queue{
	border-bottom: 2px solid #cd7971;
}
.restaurant-menu, .restaurant-map{
	border-bottom: 2px solid #C0C0C0   ;
}


/*****************************Controller Content***************/


.restaurant-queue-content table{
	margin: 0 auto;
	margin-top: 30px;
	text-align: left;
	border: 1px solid #888888 ;
}

.restaurant-queue-content th{
	font-family: helvetica neue;
	height: 30px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #cd7971;
	color:white;
	font-weight: lighter;
	width: 180px;
	letter-spacing: 1px;


}

.restaurant-content-header{
	text-align: center;
	margin: 0 auto;
	font-family: helvetica neue;
	font-size: 30px;
	margin-top: 30px;
	font-weight: 300;
	letter-spacing: 3px;
}
.next-button{
	margin-top: 30px;
	text-align: center;
}
#next{
	border-radius:20px;
	background-color: white;
	width: 120px;
	border: 1.5px solid #cd7971;
	color: #cd7971;
	height: 35px;
	outline: none;
}

#next:hover{
	color:white;
	background: #cd7971;
}

.restaurant-queue-content td{
	padding-left: 30px;
	text-align: left;
	font-family: helvetica neue;
	height: 50px;
	border-bottom: 1px solid #888888;
}

.retaurant-header{
	text-align: center;
	margin: 0 auto;
}

.glass{
	width:20px;
	height:20px;
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}







